.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #333333;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 100;
}

.navbar a {
  cursor: default;
}

.navbar .logo {
  margin-left: 15px;
}

.navbar .links {
  margin-left: auto;
}

.navbar .links ul {
  display: flex;
  flex-direction: row;
}

.navbar .links ul li {
  list-style: none;
  margin-right: 20px;
  font-size: 20px;
  transition: 0.2s all;
  color: #cccccc;
}

.navbar .links ul li .icon {
  margin-right: 10px;
}

.navbar .links .link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar li:hover {
  transform: translateY(-5px);
}

.navbar .toggle {
  display: none;
}

@media (max-width: 768px) {

  .navbar .logo {
    margin-left: auto;
    margin-right: -30px;
  }

  .navbar .logo img {

  }

  .navbar .links {
    display: flex;
    position: fixed;
    background: #333333;
    height: max-content;
    width: 100%;
    top: 60px;
    left: -1000px;
    flex-direction: column;
  }

  .navbar .links ul {
    display: flex;
    flex-direction: column;
  }

  .navbar .links li {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0;
  }

  .navbar .links .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbar .links li:hover {
    transform: none;
  }

  .navbar .toggle {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    line-height: 60px;
    left: 100%;
    margin-left: auto;
    margin-right: 20px;
  }

  .navbar .toggle input {
    display: none;
  }

  .navbar .toggle .icon {
    color: #cccccc;
    line-height: 60px;
    display: flex;
    flex-direction: row;
  }

  .navbar .toggle:checked + .links {
    left: 0;
  }

  .navbar .links {
    /*transition: left 0.5s ease-in-out;*/
  }
}
